@charset "UTF-8";

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    cursor: url('../images/anime.png'), pointer;
    overflow: hidden;
}
.setas {
    position: absolute;
}